@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>If you want to see more of the projects I've done, you can check out my <a
        href="https://github.com/joshuadwalker11">github</a></p>


<script>
    console.log("Here is the console message");
</script>
